


 
  <div>
    <h1 class="content">E-COMMERCE SELLER APPLICATION</h1>
  </div>
 <div class="content">
   
 <h1>Welcome to SHELBY E-COMMERCE PLATFORM</h1>
 
 <p>Your ultimate destination for all your online shopping needs. Whether you're looking for the latest fashion trends, cutting-edge electronics, or home essentials, we've got you covered.</p>
 <p>Discover a world of possibilities as you browse through our extensive collection of products from top brands and trusted sellers. From fashion-forward apparel to innovative gadgets and everything in between, we curate the finest selection to cater to your diverse tastes and preferences.</p>
 <p>At Shelby eCommerce, we're committed to delivering a seamless shopping experience from start to finish. Our user-friendly interface makes it easy to navigate through our categories, explore product details, and make secure purchases with confidence.</p>
 <p>With fast and reliable shipping options, your order will be delivered straight to your doorstep in no time. Plus, our dedicated customer support team is always available to assist you with any questions or concerns you may have along the way.</p>
 <p>Join millions of satisfied shoppers who trust Shelby eCommerce for their online shopping needs. Start browsing now and elevate your shopping experience to new heights with Shelby eCommerce. Happy shopping!</p>
    </div>
 
 
    <!--<div class="container">
      <img src="../../assets/SHELBY.png" width="200" height="180"style="background-image: url('../../assets/BG.jpg'); background-size: cover; background-position: center;">
      <h1>Welcome to Shelby eCommerce</h1>
      <p>Your ultimate destination for all your online shopping needs. Whether you're looking for the latest fashion trends, cutting-edge electronics, or home essentials, we've got you covered.</p>
      <p>Discover a world of possibilities as you browse through our extensive collection of products from top brands and trusted sellers. From fashion-forward apparel to innovative gadgets and everything in between, we curate the finest selection to cater to your diverse tastes and preferences.</p>
      <p>At Shelby eCommerce, we're committed to delivering a seamless shopping experience from start to finish. Our user-friendly interface makes it easy to navigate through our categories, explore product details, and make secure purchases with confidence.</p>
      <p>With fast and reliable shipping options, your order will be delivered straight to your doorstep in no time. Plus, our dedicated customer support team is always available to assist you with any questions or concerns you may have along the way.</p>
      <p>Join millions of satisfied shoppers who trust Shelby eCommerce for their online shopping needs. Start browsing now and elevate your shopping experience to new heights with Shelby eCommerce. Happy shopping!</p>
    </div>-->