<div class="text-center hero my-5 ">
    <img class="mb-3 app-logo" src="../../assets/logo shellby.jfif" alt="Angular logo" />
    <h1 class="mb-4">SHELBY</h1>

    <p class="lead">
      E-COMMERCE SELLER APPLICATION 
      
       <br> Marketplace seller application is the best platform to sell online premium and quality items quickly with zero investment. Sellers can create and manage online business with Marketplace seller platform in very less time, This platform provides the fastest way for individual entrepreneurs and small businesses to sell their products into the market.<br>
    
      <a href="https://angular.io">Angular</a>
    </p>
  </div>
