
.app-logo {
    max-width: 20.5rem;
   
    
  }
  
.content{
        background-color: #7697bc; /* Set blue background color */
        color: #fff; /* Set text color to white */
        padding: 10px; /* Add padding to the paragraphs */
        border-radius: 5px; /* Add rounded corners */

       
        
        background-color: rgba(43, 112, 169, 0.7); /* Adjust the opacity as needed */
       
        
        backdrop-filter: blur(1.5px); /* Apply the blur effect */

}

.h1{
  text-align: center;
  color: #fff;
}

