<div class="wrapper">
    <nav id="sidebar">
     
  
      <ul class="list-unstyled components">
        <li>
          <a routerLink="/">PRODUCTS LIST</a>
        </li>
        <li>
            <a routerLink="/">ORDER LIST</a>
          </li>
    

        <li>
          <a routerLink="/profile">PROFILE</a>
        </li>
        <li>
          <a routerLink="/logout">LOG OUT</a>
        </li>
        <!-- Add more sidebar items as needed -->
      </ul>
    </nav>
  
    <div id="content">
      <!-- Your main content goes here -->
      <h1>GET STARTED BY ADDING YOUR PRODUCTS NOW!!!</h1>
      <button color="#d69c28">
      <a hyperlink="/product" background-color="#d69c28">ADD NEW PRODUCT</a></button>
     
      <router-outlet></router-outlet>
    </div>
  </div>
  