
  
  /* Main content */
  #content {
    
    padding: 20px;
   
    position :absolute;
    position :absolute;
    top: 10% ;
    left:25%;
    justify-content: flex-end;

    
  }



.button{
    width:20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d69c28;
    color: #fff;
    cursor: pointer;
}