

<div class="main">
  <div class="add-item-container">
    
      <h2>Add New Item</h2>
      <form  #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
        
        <div class="details-container">
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="product.name" >

        <label for="description">Description:</label>
        <textarea id="description" name="description" [(ngModel)]="product.description"></textarea>
        
     <!--<label for="imageFile">Product Image:</label>
        <input type="file" id="imageFile" name="imageFile" accept="image/*" required  [(ngModel)]="product.picture" required >
        <label for="name">Image Name:</label>
        <input type="text" id="picturename" name="picturename" required [(ngModel)]="item.picturename" required #picturename="ngModel">-->

        
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" [(ngModel)]="product.price">
       
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" [(ngModel)]="product.quantity" >
        <label for="category">Category:</label>
  <select id="category" name="category" [(ngModel)]="product.category">
    <option value="">Select Category</option>
    <option value="apparel">APPAREL</option>
    <option value="gadgets">GADGETS</option>
  </select>
  

  
  <label *ngIf="product.category === 'apparel'" for="subcategory1">Subcategory1:</label>
  <select *ngIf="product.category === 'apparel'" id="subcategory1" name="subcategory1" [(ngModel)]="product.subcategory1">
    <option value="">Select Subcategory</option>
    <option value="men">Men</option>
    <option value="women">Women</option>
  </select>
  
  <label *ngIf="product.category === 'gadgets'" for="subcategory1">Subcategory1:</label>
  <select *ngIf="product.category === 'gadgets'" id="subcategory1" name="subcategory1" [(ngModel)]="product.subcategory1" >
    <option value="">Select Subcategory</option>
    <option value="mobile">Mobile Phone</option>
    <option value="earphone">Earphone</option>
  </select>
  

  
  <label *ngIf="product.subcategory1 === 'men' && product.category === 'apparel'" for="subcategory2">Subcategory2:</label>
  <select *ngIf="product.subcategory1 === 'men' && product.category === 'apparel'" id="subcategory2" name="subcategory2" [(ngModel)]="product.subcategory2">
    <option value="">Select Subcategory2</option>
    <option value="jean">Jean</option>
    <option value="shirt">Shirt</option>
  </select>
  
  <label *ngIf="product.subcategory1 === 'women' && product.category === 'apparel'" for="subcategory2">Subcategory2:</label>
  <select *ngIf="product.subcategory1 === 'women' && product.category === 'apparel'" id="subcategory2" name="subcategory2" [(ngModel)]="product.subcategory2" >
    <option value="">Select Subcategory2</option>
    <option value="kurthi">Kurthi</option>
    <option value="saree">Saree</option>
  </select>
  
  <label *ngIf="product.subcategory1 === 'mobile' && product.category === 'gadgets'" for="subcategory2">Subcategory2:</label>
  <select *ngIf="product.subcategory1 === 'mobile' && product.category === 'gadgets'" id="subcategory2" name="subcategory2" [(ngModel)]="product.subcategory2">
    <option value="">Select Subcategory2</option>
    <option value="apple">Apple</option>
    <option value="samsung">Samsung</option>
  </select>
  
  <label *ngIf="product.subcategory1 === 'earphone' && product.category === 'gadgets'" for="subcategory2">Subcategory2:</label>
  <select *ngIf="product.subcategory1 === 'earphone' && product.category === 'gadgets'" id="subcategory2" name="subcategory2" [(ngModel)]="product.subcategory2">
    <option value="">Select Subcategory2</option>
    <option value="boat">BOAT</option>
    <option value="noise">Noise</option>
  </select></div>

  <div class="image-container">
    <div>  <label for="imageFile">Product Thumbnail Image:(Only ".png" files)</label>
      <input type="file" multiple value="select" #selecFile (change)="onFileSelect($event)"></div>
      <div class="mt-5">
        <div class="row">
          <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile *ngFor="let file of product.productThumbnail; let i=index">
              <div style="position : relative">
               <span class="btn-image-remover" (click)="removeImages(i)">x</span>
                <img [src]="file.url" width="100px" height="100px">
                <span class="btn-image-remover">x</span>
              </div>

            </mat-grid-tile>
            
          </mat-grid-list>
        </div>

      </div>
</div>
   <div class="image-container">
        <div>  <label for="imageFile">Product Images:(Only ".png" files)</label>
          <input type="file" multiple value="select" #selecFile (change)="onFileSelected($event)"></div>
          <div class="mt-5">
            <div class="row">
              <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile *ngFor="let file of product.productImages; let i=index">
                  <div style="position : relative">
                   <span class="btn-image-remover" (click)="removeImages(i)">x</span>
                    <img [src]="file.url" width="100px" height="100px">
                    <span class="btn-image-remover">x</span>
                  </div>

                </mat-grid-tile>
                
              </mat-grid-list>
            </div>

          </div>
</div>
        <br><br>
        <button mat-stroked-button style="margin-right: 3px;">CLEAR</button>
        <br><br>
        <button type="submit" >ADD ITEM</button>
      </form>
    </div>
  
    </div>

    