<app-sellernavbar></app-sellernavbar>
<div class="box">
 
    <div class="content">
        <h2>EDIT PROFILE</h2>
        <form action="#" method="POST" enctype="multipart/form-data" onSubmit="validateform()">
       
            <label for="sellerName">Seller Name</label>
            <input type="text" id="sellerName" name="sellerName" required >
           
           
             
            <label for="shopName">Company Name</label>
            <input type="text" id="shopName" name="shopName" required>
           
     
            <label for="phoneNumber">GSTINumber</label>
            <input type="text" id="phoneNumber" name="phoneNumber" required>
     
            <label for="emailaddress">Email Address</label>
            <input type="text" id="emailaddress" name="emailaddress" required>
     
            <label for="phoneNumber">Phone Number</label>
            <input type="text" id="phoneNumber" name="phoneNumber" required>
     
            <div class="input-container">
                <label for="address">Address</label>
                <div class="input-wrapper">
                    <textarea id="address" name="address" class="editable-input" readonly required></textarea>
                    <button type="button" class="edit-button" onclick="toggleEdit('address')">&#9998;</button>
                </div>
     
     
            <button type="submit">Update Profile</button>
           
        </div>